.corclearing-logo {
  background-image: url(../ext-react/resources/img/corclearing.jpg);
  height: 45px;
  width: 45px;
  position: fixed;
  background-size: cover;
  top: 1px;
  margin-left: -5px;
}

.corclearing-red {
  background-image: url(../ext-react/resources/img/red.png);
}

.corclearing-yellow {
  background-image: url(../ext-react/resources/img/yellow.png);
}

.corclearing-green {
  background-image: url(../ext-react/resources/img/green.png);
}

.corclearing-star{
  background-image: url(../ext-react/resources/img/star1.png);
}

.corclearing-title{
  margin-left: 50px;
  margin-right: 10px;
}

.corclearing-red-alert{
  background-color: #FF8588 !important;
}

.corclearing-yellow-alert{
  background-color: #EEE8AA !important;
}

.corclearing-orange-alert{
  background-color: #f4ba4e !important;
}

.corclearing-test-title{
  color: red;
}